In [1]:
import pandas as pd
data = pd.read_csv('../../cacmData/cacmDataPreprocessed.csv')
data.head()

,.I,data,.B,.C,.N,.X
0,1,preliminari report intern algebra languag perl...,1958-12-01 00:00:00,NaN,1978-03-22 20:28:00,"100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
1,2,extract root repeat subtract digit comput sugai,1958-12-01 00:00:00,NaN,1978-03-22 20:29:00,"100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
2,3,techniqu depart matrix program scheme friedman,1958-12-01 00:00:00,NaN,1978-03-22 20:30:00,"100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
3,4,glossari comput engin program terminolog,1958-11-01 00:00:00,NaN,1978-03-22 20:32:00,"100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
4,5,two squar root approxim wadey,1958-11-01 00:00:00,NaN,1978-03-22 20:33:00,"100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."

In [ ]:
data.loc[1409]

In [33]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

In [34]:
tfidfTable = tfidf.fit_transform(data['data'])

In [60]:
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity

test ='tss time share system oper system ibm comput tss'
# test = 'tss tss'
# test = 'intermed language use construct multi target compile tcoll donna bergmark comp serv uris hall intermed lang'
# test = '''algorithm parallel comput especi comparison parallel sequenti algorithm'''
def search(query,n:int):
    querytfidf = tfidf.transform([query])
    cos = cosine_similarity(tfidfTable, querytfidf) 
    resultList = cos.argsort(axis=0)[-n:][::-1]
    ls = []
    ids = []
    for i in resultList:
        ids.append(data.loc[i,'.I'].to_list()[0])
        print(data.loc[i,'.I'].to_list()[0])
        print(cos[i])
    return ids

In [61]:
search(test, 20)
s = '''
1938,criteria time share system perform time share system defin articl multiaccess system permit termin
 user util essenti full resourc system share time termin user termin user abil util full resourc system
  make quantit evalu time share system particularli difficult six criteria describ success use perform
   first level quantit time share system perform evalu stimler time share perform criteria time share system 
   oper time share perform analysi

'''
s2 = '''tss time share system oper system ibm comput tss'''

1410
[[0.21411442]]
1938
[[0.20480623]]
1071
[[0.19034308]]
1572
[[0.15525895]]
971
[[0.1498489]]
2371
[[0.14177274]]
2218
[[0.13585757]]
1657
[[0.13118048]]
2151
[[0.12953516]]
1908
[[0.11734912]]
2535
[[0.1167736]]
1642
[[0.11616662]]
69
[[0.11284584]]
1844
[[0.11038753]]
1753
[[0.1062084]]
1605
[[0.10375824]]
2951
[[0.10325682]]
1746
[[0.10282959]]
2036
[[0.10242409]]
103
[[0.10193488]]

### correction

In [1]:
import nltk
from nltk.metrics.distance import edit_distance
from nltk.metrics.distance import jaccard_distance
from nltk.util import ngrams
from nltk.corpus import words

In [5]:
from nltk.metrics.distance import jaccard_distance
from nltk.util import ngrams
from nltk.corpus import words
correct_words = words.words()
incorrectWords = '''preliminari report intern algebra languag perlis samelsonk'''.split()
for word in incorrectWords:
    try:
        temp = [(jaccard_distance(set(ngrams(word, 2)),
                                  set(ngrams(w, 2))),w)
                                  for w in correct_words if w[0] == word[0]]
        print(sorted(temp, key = lambda val:val[0])[0][1])
    except:
        pass

preliminarily
report
intern
algebra
language
perlid
samel

In [6]:
correct_words = words.words()
incorrectWords = '''preliminari report intern algebra languag perlis samelsonk'''.split()
for word in incorrectWords:
    try:
        temp = [(edit_distance(word,w),w)
                                  for w in correct_words if w[0] == word[0]]
        print(sorted(temp, key = lambda val:val[0])[0][1])
    except:
        pass

preliminary
report
intern
algebra
language
perlid
samesome

### querying

In [5]:
queriesPath = '../../cacmData/cacmQueryPreprocessed.csv'
queriesData = pd.read_csv(queriesPath)
queriesData.head()

   .I                                               data
0   1  articl exist deal tss time share system oper s...
1   2  interest articl write either priev udo pooch p...
2   3  intermedi languag use construct multi target c...
3   4  interest mechan commun disjoint process possib...
4   5  like paper design implement edit interfac wind...

In [6]:

def queryingData(qDataFrame:pd.DataFrame, n):
    result = pd.DataFrame()
    resultDict:dict = {}
    resultDictCopy = resultDict.copy()
    for i in qDataFrame.index:
        try:
            tempList:list = search(qDataFrame.loc[i,'data'], n)
            for id in range(1,n+1):
                resultDictCopy[str(id)] = tempList[id - 1]
            result = result.append(resultDictCopy, ignore_index=True)
            resultDictCopy = resultDict.copy()
        except:
            print(i)
            raise
    return result

In [7]:
res = queryingData(queriesData, 10)
res.head()

,1,2,3,4,5,6,7,8,9,10
0,1938.0,1168.0,1752.0,1410.0,2219.0,1071.0,1572.0,2371.0,2629.0,971.0
1,3078.0,236.0,1781.0,1183.0,1149.0,1046.0,3160.0,597.0,1651.0,282.0
2,1134.0,2652.0,1223.0,1496.0,1988.0,1162.0,265.0,799.0,1767.0,2252.0
3,2939.0,2376.0,3128.0,2377.0,1922.0,2342.0,3141.0,3101.0,1439.0,2080.0
4,2321.0,2716.0,2035.0,1923.0,1829.0,1272.0,2003.0,2299.0,2629.0,3011.0

In [13]:
res.shape

(64, 10)

In [ ]:
res.to_csv('../../cacmData/cacmQueryResult.csv')

In [ ]:
qresPath = '../../cacmData/qrels.csv'
qresData = pd.read_csv(qresPath)
qresData.head()

### Evaluate

precision

In [ ]:
import pandas as pd
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_recall_curve

def reSizeLists(l1:list, l2:list):
    if len(l1) < len(l2):
        l2 = l2[0:len(l1)]
    while len(l1) > len(l2):
        l1 = l1[0:len(l2)]

    return l1, l2, len(l1)

def precWithoutOrder(l1:list,l2:list):
    return len(set(l1).intersection(set(l2))) / len(l1)

def calcPrecisionAtK(resData:pd.DataFrame, qresData: pd.DataFrame):
    precisionsAtK:list = []
    precisionAtK:float
    for i in resData.index:
        precisionOnQuery = []
        resArray = resData.loc[i].to_numpy()
        qresArray = qresData.loc[qresData['ids'] == i+1, 'data'].to_numpy()
        resArray, qresArray, lenth = reSizeLists(resArray, qresArray)
        
        for lenI in range(lenth-1,lenth):
            tempRes:list = resArray[0:lenI+1].tolist()
            tempQRes:list = qresArray[0:lenI+1].tolist()
            precisionOnQuery.append(precWithoutOrder(tempQRes, tempRes))
            if i == 0:
                print(tempRes)
                print(tempQRes)
                print(precisionOnQuery)

        precisionsAtK.append(sum(precisionOnQuery) / (lenth + 1))
    precisionAtK = sum(precisionsAtK) / len(precisionsAtK)
    # print(precisionAtK)
    return precisionAtK

In [ ]:
calcPrecisionAtK(res, qresData)

0.0424232466029341
0.0424232466029341

In [ ]:


def getMaxNumberOfGoldenStandard(queriesData):
    n:int = 0
    for i in queriesData.index:
        tempN = len(qresData.loc[qresData['ids'] == i+1, 'data'].to_numpy())
        if n < tempN:
            n = tempN
    return n

def calcCacmDataPrecision(queriesData, qresData):
    n:int = getMaxNumberOfGoldenStandard(queriesData)
    resArray = queryingData(queriesData, n)
    precision = calcPrecisionAtK(resArray, qresData)
    return precision
resArray = calcCacmDataPrecision(queriesData, qresData)
resArray