In [1]:
import pandas as pd
df:pd.DataFrame = pd.read_csv('../../cacmData/cacmCsv.csv', index_col='.I')
df.head()

,.T,.W,.B,.A,.K,.C,.N,.X
.I,,,,,,,,
1,Preliminary Report-International Algebraic Lan...,NaN,"CACM December, 1958","Perlis, A. J. Samelson,K.",NaN,NaN,"CA581203 JB March 22, 1978 8:28 PM","100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
2,Extraction of Roots by Repeated Subtractions f...,NaN,"CACM December, 1958","Sugai, I.",NaN,NaN,"CA581202 JB March 22, 1978 8:29 PM","100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
3,Techniques Department on Matrix Program Schemes,NaN,"CACM December, 1958","Friedman, M. D.",NaN,NaN,"CA581201 JB March 22, 1978 8:30 PM","100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
4,Glossary of Computer Engineering and Programmi...,NaN,"CACM November, 1958",NaN,NaN,NaN,"CA581103 JB March 22, 1978 8:32 PM","100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
5,Two Square-Root Approximations,NaN,"CACM November, 1958","Wadey, W. G.",NaN,NaN,"CA581102 JB March 22, 1978 8:33 PM","100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."

In [2]:
df.describe()

,.T,.W,.B,.A,.K,.C,.N,.X
count,3203,1587,3203,3120,1429,1425,3204,3204
unique,3006,1584,293,2324,1363,919,3204,1
top,Glossary of Computer Engineering and Programmi...,None,"CACM August, 1963","Thacher Jr., H. C.","capacitated network, linear programming, minim...",5.14,"CA581203 JB March 22, 1978 8:28 PM","100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
freq,5,4,43,36,4,29,1,3204

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3204 entries, 1 to 3204
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   .T      3203 non-null   object
 1   .W      1587 non-null   object
 2   .B      3203 non-null   object
 3   .A      3120 non-null   object
 4   .K      1429 non-null   object
 5   .C      1425 non-null   object
 6   .N      3204 non-null   object
 7   .X      3204 non-null   object
dtypes: object(8)
memory usage: 225.3+ KB

In [4]:
print(df.loc[:,'.T'].isnull().value_counts(), end='\n\n')
print(df.loc[:,'.W'].isnull().value_counts(), end='\n\n')
print(df.loc[:,'.A'].isnull().value_counts())

False    3203
True        1
Name: .T, dtype: int64

True     1617
False    1587
Name: .W, dtype: int64

False    3120
True       84
Name: .A, dtype: int64

#### fill Null Value with empty string ''

In [5]:
df.fillna('', inplace=True)
df.head()

,.T,.W,.B,.A,.K,.C,.N,.X
.I,,,,,,,,
1,Preliminary Report-International Algebraic Lan...,,"CACM December, 1958","Perlis, A. J. Samelson,K.",,,"CA581203 JB March 22, 1978 8:28 PM","100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
2,Extraction of Roots by Repeated Subtractions f...,,"CACM December, 1958","Sugai, I.",,,"CA581202 JB March 22, 1978 8:29 PM","100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
3,Techniques Department on Matrix Program Schemes,,"CACM December, 1958","Friedman, M. D.",,,"CA581201 JB March 22, 1978 8:30 PM","100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
4,Glossary of Computer Engineering and Programmi...,,"CACM November, 1958",,,,"CA581103 JB March 22, 1978 8:32 PM","100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."
5,Two Square-Root Approximations,,"CACM November, 1958","Wadey, W. G.",,,"CA581102 JB March 22, 1978 8:33 PM","100,5,1-123,5,1-164,5,1-1,5,1-1,5,1-1,5,1-205,..."

In [6]:
df.duplicated().value_counts()

False    3204
dtype: int64

### clean wrong regex

In [7]:
lis = df.loc[:,'.N'].to_list()
import re
lis = [s.replace(',',' ') for s in lis]
ids = []


pattern = r'[A-Z][a-z]+ +[0-9][0-9]? +[0-9]{4} +[0-9][0-9]?:[0-9][0-9]? +(PM|AM)'
for i in range(0,len(lis)):
    if re.search(pattern, lis[i]) == None:
        ids.append(i)


removePattern = r'CA[0-9]* ?[A-Z]{2} +[A-Z][a-z]+ +[0-9][0-9]? +[0-9]{4}'
for i in ids:
    lis[i] = re.findall(removePattern, lis[i])[0]

df.loc[:, '.N'] = lis

188
CA600601 JB March 20  1978  9:57PM
344
CA610423 JB March 16  197811:43 PM
576
CA620608 JB March 17  19789:31 PM
967
CA641203 JB March 9  19783:43 PM
998
CA641003 JB March 9  19784:54 PM
1033
CA640713 JB March 9  19788:07 PM
1199
CA650906 JB March 6  19787:33 PM
1202
CA650903 JB March 6  19787:37 PM
1457
CA660314 JB March 3  197811:44 AM
1503
CA671204 JB February 26  19782:35 PM
1552
CA670802 JB February 27  19784:44 PM
1593
CA670508 JB February 28  197810:35 AM
1687
CA680913 JB February 21  19784:31 PM
1728
CA680616 JB February 22  19783:15 PM
1820
CA691109 JB February 15  197812:18 PM
1872
CA690707 JB February 17  19789:08 AM
1954
CA701208 JB February 9  19783:10 PM
2014
CA700806 JB February 10  19783:38 PM
2269
CA721008 JB January 27  19782:49 PM
2422
CA731103 JB January 20  197810:41 AM
2759
CA750507 JB January 9  1978 2 2:33 PM
2937
CA770805 JB December 28  19777:39 AM
3029
CA781209 DH January 16  19794:43 PM
3143
CA790505 DH August 21  19791:14 PM

24

### save

In [11]:
df.to_csv('../../cacmData/cacmDataCleanedV1.csv')